{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  io.replikativ/konserve {:git/url "https://github.com/replikativ/konserve"
                          :git/sha "4d44dfe2e1955933e564c9f4c815b5bb3c33d6dd"}
  io.replikativ/hasch {:mvn/version "0.3.94"}
  io.replikativ/superv.async {:mvn/version "0.3.48"}
  com.taoensso/trove {:mvn/version "1.1.0"}
  ;; Use local kabel with kabel.pubsub support
  io.replikativ/kabel {:local/root "../kabel"}}

 :aliases
 {:dev
  {:extra-paths ["test"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                ;; Optional dep for datahike walker tests (includes persistent-sorted-set)
                io.replikativ/datahike {:mvn/version "0.6.1610"}}
   :main-opts ["-m" "kaocha.runner"]}

  :cljs-test
  {:extra-paths ["test"]
   :extra-deps {thheller/shadow-cljs {:mvn/version "2.26.0"}}}}}
